snippet section "comment for section" b
" # ${1:title} {{{
" ---------------------------------------------------------
${2:" content}
" }}}
endsnippet

snippet iffile "check if file exits" b
if filereadable(expand("${1:path_to_file}"))
endif
endsnippet

snippet nm "Not recursive nmap" b
nnoremap 
endsnippet

snippet vm "Not recursive vmap" b
vnoremap 
endsnippet

snippet im "Not recursive imap" b
inoremap 
endsnippet

